header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 50px;
    padding-left: 20px;
    background: url("../images/hbnb-header-logo.png") no-repeat center;
    background-size: contain;
}